.how-to {
  overflow: hidden;
  overflow-x: auto;

  &__container {
    display: flex;
    position: relative;
    width: 1140px;
    margin: auto;
  }
}

.how-to-circle {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 1rem;

  &::after {
    content: attr(data-prueba);
    display: block;
    margin-top: 1rem;
    font-size: 20px;
    font-weight: 700;
    color: var(--secondary);
    transition: opacity .3s;
  }

  &:hover {
    .how-to-circle {
      &__icon {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
        transform: scale(.92);
      }
    }
  }

  &__icon {
    --size: 150px;
    width: var(--size);
    height: var(--size);
    display: flex;
    border-radius: 50%;
    box-shadow: -3px 4px 11px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s;
    
    @include media-breakpoint-up('xl') {
      --size: 190px;
    }

    img {
      width: 90px;
      display: block;
      margin: auto;

      @include media-breakpoint-up('xl') {
        width: 100px;
      }
    }
  }

  &__title {
    color: $secondary;
    font-weight: 700;
    font-size: 18px;
    margin: 2rem 0 1rem;
    height: 2rem;
  }
}