.circle-icon {
  --size: 220px;
  width: var(--size);
  height: var(--size);
  display: flex;
  border-radius: 50%;
  box-shadow: -3px 4px 11px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s;
  
  @include media-breakpoint-up('lg') {
    --size: 300px;
  }
  
  img {
    width: 180px;
    display: block;
    margin: auto;
    
    @include media-breakpoint-up('lg') {
      width: 280px;
    }
  }

  &:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    transform: scale(.92);
  }
}