.requisitos-item {
  --size: 200px;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  box-shadow: -3px 4px 11px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: .8rem;
  font-size: 85%;
  transition: all 0.3s;

  @include media-breakpoint-up('lg  ') {
    --size: 180px;
  }

  @include media-breakpoint-up('xl') {
    --size: 210px;
    font-size: 1rem;
  }


  &:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    transform: scale(.92);
  }
}