footer.main-footer.mt-5
  .container.pt-4.pb-1
    .row
      .col-md-6.d-flex.mb-3
        .mr-3
          img(src="assets/images/mapmarker-icon.svg", alt="")
        p.text-muted.pr-5 Avenida Juan de Aliaga 457 ( nueva avenida Miró Quesada) piso 14-Edificio ABC Magdalena del Mar, Lima
      .col-md-6.d-flex.mb-3
        .mr-3
          img(src="assets/images/envelope-icon.svg", alt="")
        a.text-muted.mt-1(href="#") oportunidades@ipfe.org.pe
    .row
      .col-md-6.d-flex.mb-3
        .mr-3
          img(src="assets/images/call-icon.svg", alt="")
        a.text-muted.mt-1(href="#") (01) 7390570
      .col-md-6.mb-3
        p.text-muted
          span Síguenos
          .d-flex
            a.mr-4(href="#"): img(src="assets/images/facebook-icon.svg", alt="")
            a.mr-4(href="#"): img(src="assets/images/linkedin-icon.svg", alt="")
            a.mr-4(href="#"): img(src="assets/images/instagram-icon.svg", alt="")
            a.mr-4(href="#"): img(src="assets/images/twitter-icon.svg", alt="")
            a(href="#"): img(src="assets/images/youtube-icon.svg", alt="")
.bg-primary.text-white.text-center.p-2
  span Powered by <a href="#" class="font-weight-bold text-white">Prodequa</a>