header.main-header
  .container.d-flex.align-items-center
    a.mr-3.d-md-none(href="#"): img(src="assets/images/responsive-menu-icon.svg", alt="")
    a(href="index.html"): img.logo(src="assets/images/logo.png", alt="")
    include main-menu.pug