.row.align-items-center.mt-lg-n5
  .col-12.d-lg-none
    h3.h2.text-secondary.font-weight-bold.mb-4.text-center Asociados
  .col-12.col-md-8.col-lg-5.mx-0.mx-md-auto.mx-lg-0.position-relative.px-5.px-3.mb-4.mb-lg-0
    //- Mobile
    .d-lg-none.bubble.bubble-secondary.bubble--xs(style="right:0;bottom:5rem")
    .d-lg-none.bubble.bubble-primary.bubble--xs.delay-2(style="left:0;top:5rem")
    //- Desktop
    .d-none.d-lg-block.bubble.bubble-secondary.bubble--xs.delay-2(style="right:-4rem;bottom:5rem")
    img.img-fluid.position-relative(src="assets/images/asociados-01.svg", alt="")
    .position-absolute.d-none.d-sm-block(style="top:6rem;right:-3rem;transform:rotate(19deg);z-index:-1")
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="160 90 450 450" preserveAspectRatio="xMaxyMax meet" width="450" height="320">
        <path fill="rgba(10,83,126,.15)" d="M 120 330 C 140 280 190 130 360 100 C 520 90 690 290 680 350 C 680 400 620 460 530 430 C 435 400 440 360 390 370 C 260 420 230 520 160 490 C 120 465 100 420 120 330 Z">
          <animate repeatCount="indefinite" attributeName="d" dur="3s" values="M 120 330 C 140 280 190 130 360 100 C 520 90 690 290 680 350 C 680 400 620 460 530 430 C 435 400 440 360 390 370 C 260 420 230 520 160 490 C 120 465 100 420 120 330 Z;M 120 260 C 140 220 190 130 360 100 C 520 90 620 200 640 240 C 680 320 640 420 540 400 C 440 380 440 360 360 380 C 260 420 230 520 180 520 C 100 520 80 440 100 320 Z;M 120 330 C 140 280 190 130 360 100 C 520 90 690 290 680 350 C 680 400 620 460 530 430 C 435 400 440 360 390 370 C 260 420 230 520 160 490 C 120 465 100 420 120 330 Z">
          </animate>
        </path>
      </svg>
  .col-lg-5.offset-lg-1.text-center.text-lg-right
    h3.h1.text-secondary.font-weight-bold.mb-4.d-none.d-lg-block Asociados
    p Colaboramos con m치s de 80 empresas en la gesti칩n de sus programas de retenci칩n de talento y clima organizacional.
    a.btn.btn-primary.mt-4.px-5(href="empresas.html") Ver m치s