.row.justify-content-center.my-5.pt-5
  .col-10.text-center
    h3.h1.text-secondary.font-weight-bold.mb-3 Confían en nosotros
  .col-10.my-4
    <div class="tab w-full">
      <button class="tablinks active" onclick="openTab(event, 'universidades')">Universidades</button>
      <button class="tablinks" onclick="openTab(event, 'asociados')">Asociados</button>
      <button class="tablinks" onclick="openTab(event, 'inversionistas')">Inversionistas</button>
    </div>

    <div id="universidades" class="tabcontent show">
      .position-relative.my-5
        .swiper-button-prev
        .swiper-button-next
        .sponsors-slider.overflow-hidden
          .swiper-wrapper.d-flex.align-items-center
            .swiper-slide: img(src="assets/images/sponsors/logo-up.jpg", alt="")
            .swiper-slide: img(src="assets/images/sponsors/sponsor01.jpg", alt="")
            .swiper-slide: img(src="assets/images/sponsors/sponsor02.jpg", alt="")
            .swiper-slide: img(src="assets/images/sponsors/upn.jpg", alt="")
            .swiper-slide: img(src="assets/images/sponsors/sponsor02.jpg", alt="")
            .swiper-slide: img(src="assets/images/sponsors/upn.jpg", alt="")
    </div>

    <div id="asociados" class="tabcontent">
      .position-relative.my-5
        .swiper-button-prev
        .swiper-button-next
        .sponsors-slider.overflow-hidden
          .swiper-wrapper.d-flex.align-items-center
            .swiper-slide: img(src="assets/images/sponsors/logo-up.jpg", alt="")
            .swiper-slide: img(src="assets/images/sponsors/sponsor01.jpg", alt="")
            .swiper-slide: img(src="assets/images/sponsors/sponsor02.jpg", alt="")
            .swiper-slide: img(src="assets/images/sponsors/upn.jpg", alt="")
            .swiper-slide: img(src="assets/images/sponsors/sponsor02.jpg", alt="")
            .swiper-slide: img(src="assets/images/sponsors/upn.jpg", alt="")
    </div>

    <div id="inversionistas" class="tabcontent">
      .position-relative.my-5
        .swiper-button-prev
        .swiper-button-next
        .sponsors-slider.overflow-hidden
          .swiper-wrapper.d-flex.align-items-center
            .swiper-slide: img(src="assets/images/sponsors/logo-up.jpg", alt="")
            .swiper-slide: img(src="assets/images/sponsors/sponsor01.jpg", alt="")
            .swiper-slide: img(src="assets/images/sponsors/sponsor02.jpg", alt="")
            .swiper-slide: img(src="assets/images/sponsors/upn.jpg", alt="")
            .swiper-slide: img(src="assets/images/sponsors/sponsor02.jpg", alt="")
            .swiper-slide: img(src="assets/images/sponsors/upn.jpg", alt="")
    </div>