.position-relative
  .row.justify-content-center.mt-5.mb-md-0
    .col-12.mt-4.mb-md-4.px-0
      .d-md-none.px-4
        select.custom-select.custom-select-lg.border-primary.text-primary(name="")
          option(selected) Asociación
          option Programas con Empresas
          option Programas con Instituciones Educativas
          option Proyectos Sociales
      <div class="tab w-full d-none d-md-flex">
        <button class="tablinks active" onclick="openTab(event, 'asociacion')">Asociación</button>
        <button class="tablinks" onclick="openTab(event, 'programas-con-empresas')">Programas<br>con Empresas</button>
        <button class="tablinks" onclick="openTab(event, 'programas-con-instituciones')">Programa con<br>Instituciones Educativas</button>
        <button class="tablinks" onclick="openTab(event, 'proyectos-sociales')">Proyectos Sociales</button>
      </div>

      <div id="asociacion" class="tabcontent show">
        .row.justify-content-center.align-items-center.pt-md-5.pb-md-5.mt-5
          .col-md-5.px-5.px-md-3
            img.w-100(src="assets/images/empresa-001.jpg", alt="")
          .col-md-5.p-5.text-center.text-md-left
            p.mb-4 Cooperamos con las áreas de retención de talento de nuestras empresas asociadas, a través de nuestro programa de becas de posgrado y beneficios directos, gracias a los acuerdos institucionales con escuelas nacionales y extranjeras.
            a.btn.btn-primary(href="#contactanos") Contáctanos
      </div>

      <div id="programas-con-empresas" class="tabcontent">
        .row.justify-content-center.align-items-center.pt-md-5.pb-md-5.mt-5
          .col-md-5.px-5.px-md-3
            img.w-100(src="assets/images/programas-empresas.jpg", alt="")
          .col-md-5.p-5.text-center.text-md-left
            p.mb-4 Programa de administración de becas quebusca   incrementar   los   niveles   de   motivación   y   productividad   de   loscolaboradores mediante el reconocimiento y premiación al alto desempeñoacadémico de sus hijos, a través de becas académicas otorgadas en unconcurso de selección por merito que premia el talento académico.
            a.btn.btn-primary(href="#contactanos") Contáctanos
      </div>

      <div id="programas-con-instituciones" class="tabcontent">
        .row.justify-content-center.align-items-center.pt-md-5.pb-md-5.mt-5
          .col-md-5.px-5.px-md-3
            img.w-100(src="assets/images/programa-instituciones.jpg", alt="")
          .col-md-5.p-5.text-center.text-md-left
            p.mb-4 Son programas orientados a laefectiva asignación de beneficios educativos a través del uso de nuestraplataforma web SABE, las misma que evalúa factores sociales y económicospara brindar una oportunidad educativa, siguiendo los estándares y criteriosde   cada   institución   con   la   que   nos   aliamos.   Gestionamos   becas,categorizaciones, recategorizaciones y créditos de estudio.
            a.btn.btn-primary(href="#contactanos") Contáctanos
      </div>

      <div id="proyectos-sociales" class="tabcontent">
        .row.justify-content-center.align-items-center.pt-md-5.pb-md-5.mt-5
          .col-md-5.px-5.px-md-3
            img.w-100(src="assets/images/proyecto-social.jpg", alt="")
          .col-md-5.p-5.text-center.text-md-left
            p.mb-4 Programas   gestionados   de   empresas   socialmenteresponsables   que   buscan   contribuir   con   el   desarrollo   académico,fortalecimiento del talento y bienestar profesional de sus colaboradores,familias y/o zonas de influencia.
            a.btn.btn-primary(href="#contactanos") Contáctanos
      </div>