.row.align-items-center.mb-5.pb-5
  .col-12.d-lg-none
    h3.h2.text-secondary.font-weight-bold.mb-4.text-center Fondo
  .col-12.col-md-8.col-lg-5.mx-0.mx-md-auto.mx-lg-0.offset-lg-1.position-relative.px-5.px-3.order-lg-1
    //- Mobile
    .d-lg-none.bubble.bubble-secondary.bubble--xs.delay-1(style="left:0;bottom:8rem")
    .d-lg-none.bubble.bubble-primary.bubble--sm.delay-2(style="right:0;top:4rem")
    //- Desktop
    .d-none.d-lg-block.bubble.bubble-secondary.bubble--xs.delay-1(style="left:-6rem;bottom:8rem")
    .d-none.d-lg-block.bubble.bubble-primary.bubble--sm.delay-2(style="right:-3rem;top:4rem")
    img.img-fluid.position-relative(src="assets/images/fondo-01.svg", alt="")
    .position-absolute.d-none.d-sm-block(style="top:10%;left:-2rem;transform:rotate(1deg);z-index:-1")
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="160 90 450 450" preserveAspectRatio="xMaxyMax meet" width="450" height="320">
        <path fill="rgba(242, 103, 50, 0.15)" d="M 120 330 C 140 280 190 130 360 100 C 520 90 690 290 680 350 C 680 400 620 460 530 430 C 435 400 440 360 390 370 C 260 420 230 520 160 490 C 120 465 100 420 120 330 Z">
          <animate repeatCount="indefinite" attributeName="d" dur="3s" values="M 120 330 C 140 280 190 130 360 100 C 520 90 690 290 680 350 C 680 400 620 460 530 430 C 435 400 440 360 390 370 C 260 420 230 520 160 490 C 120 465 100 420 120 330 Z;M 120 260 C 140 220 190 130 360 100 C 520 90 620 200 640 240 C 680 320 640 420 540 400 C 440 380 440 360 360 380 C 260 420 230 520 180 520 C 100 520 80 440 100 320 Z;M 120 330 C 140 280 190 130 360 100 C 520 90 690 290 680 350 C 680 400 620 460 530 430 C 435 400 440 360 390 370 C 260 420 230 520 160 490 C 120 465 100 420 120 330 Z">
          </animate>
        </path>
      </svg>
  .col-lg-5.offset-lg-1.text-center.text-lg-left
    h3.h1.text-secondary.font-weight-bold.mb-4.d-none.d-lg-block Fondo
    p.mt-4.mt-lg-0 Programas de responsabilidad social de instituciones educativas, entidades de la sociedad civil, entidades de gobierno y empresas en general.
    a.btn.btn-secondary.mt-3.mt-lg-4.px-5(href="#") Entérate más