.position-relative
  <div class="bubble bubble-secondary" style="top: 6rem;right: -2rem;"></div>
  <div class="bubble bubble-primary bubble--sm delay-1" style="top: 5rem;right: 2rem;"></div>
  <div class="bubble bubble-primary  delay-2" style="bottom: 0rem;left: 50%;"></div>
  .row.justify-content-center.my-5
    .col-12.my-4.px-0
      <div class="tab w-full">
        <button class="tablinks active" onclick="openTab(event, 'asociacion')">Persona Natural</button>
        <button class="tablinks" onclick="openTab(event, 'programas-con-empresas')">Persona Jurídica</button>
      </div>

      <div id="asociacion" class="tabcontent show">
        .row.justify-content-center.align-items-center.py-5.mt-3
          .col-md-5
            img.w-100(src="assets/images/empresa-001.jpg", alt="")
          .col-md-6.p-5
            p 01 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam soluta dicta facere rem corporis veniam facilis suscipit eius delectus cumque esse distinctio possimus, animi aspernatur adipisci, officiis temporibus. Eveniet, quae.
      </div>

      <div id="programas-con-empresas" class="tabcontent">
        .row.justify-content-center.align-items-center.py-5.mt-3
          .col-md-5
            img.w-100(src="assets/images/empresa-001.jpg", alt="")
          .col-md-6.p-5
            p 02 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam soluta dicta facere rem corporis veniam facilis suscipit eius delectus cumque esse distinctio possimus, animi aspernatur adipisci, officiis temporibus. Eveniet, quae.
      </div>