.position-relative
  <div class="bubble bubble-secondary" style="top: 6rem;right: -2rem;"></div>
  <div class="bubble bubble-primary bubble--sm delay-1" style="top: 5rem;right: 2rem;"></div>
  <div class="bubble bubble-primary  delay-2" style="bottom: 0rem;left: 50%;"></div>
  .row.justify-content-center.my-5
    .col-12.my-4.px-0
      <div class="tab w-full">
        <button class="tablinks active" onclick="openTab(event, 'asociacion')">Persona Natural</button>
        <button class="tablinks" onclick="openTab(event, 'programas-con-empresas')">Persona Jurídica</button>
      </div>

      <div id="asociacion" class="tabcontent show">
        .row.justify-content-center.align-items-center.py-5.mt-md-3
          .col-md-5.px-5.px-3
            img.w-100(src="assets/images/natural.jpg", alt="")
          .col-md-6.p-3.p-md-5.text-center.text-md-left
            p Si deseas formar parte de la red de donantes y apoyar ajóvenes talentosos de escasos recursos a iniciar, continuar y culminar susestudios técnicos, puedes apadrinarlos a través de tu donación en nuestra cuenta recaudadora
            p <span class="text-primary">Banco Scotiabank:</span> 000 - 495 - 5714 /  CCI: 009 - 210 -00000 - 4955714 -63
      </div>

      <div id="programas-con-empresas" class="tabcontent">
        .row.justify-content-center.align-items-center.py-5.mt-md-3
          .col-md-5.px-5.px-3
            img.w-100(src="assets/images/juridica.jpg", alt="")
          .col-md-6.p-3.p-md-5.text-center.text-md-left
            p  Si   eres   una   empresa   socialmente   responsable   ycomprometida con la huella educativa de nuestro país, te invitamos apoyara través de tus donaciones a jóvenes talentosos de escasos recursos ainiciar, continuar y culminar sus estudios técnicos, puedes apadrinarlos através de tu donación en nuestra cuenta recaudadora
            p <span class="text-primary">Banco Scotiabank:</span> 000 - 495 - 5714 /  CCI: 009 - 210 - 00000 - 4955714 -63
      </div>