.row.justify-content-center.my-5.py-5.px-3.px-md-0
  .col-12.col-md-9.text-center
    h3.h1.text-secondary.font-weight-bold.mb-1.d-none.d-md-block Nuestros programas
    h3.h2.text-secondary.font-weight-bold.mb-1.d-md-none.mb-4 Nuestros programas
    p.mb-4.mb-md-3 Desarrollamos cuatro procesos transversales de valor que nos aseguran un otorgamiento justo y equitativo de dichas oportunidades.
  .col-12.col-md-10.d-flex.position-relative.px-5.px-md-3
    .d-none.d-md-block.bubble.bubble-secondary.bubble--sm.delay-1(style="right:-3rem;top:6rem")
    .d-none.d-md-block.bubble.bubble-primary.bubble--sm(style="bottom:-3rem;left:-6rem")
    .d-none.d-md-block.bubble.bubble-secondary.delay-2(style="bottom:-2rem;left:-5rem")
    .swiper-button-prev.d-xl-none
    .swiper-button-next.d-xl-none
    .programas-slider.overflow-hidden
      .swiper-wrapper.d-flex.align-items-center
        .swiper-slide
          .program-item
            .program-item__icon
              img(src="assets/images/scholarship.svg", alt="")
            h4.program-item__title Becas de Estudio
            p Postula a becas para postgrados y recategorizaciones
            a.btn.btn-primary.w-md-100.mt-auto(href="#") Ver becas
        .swiper-slide
          .program-item
            .program-item__icon
              img(src="assets/images/income.svg", alt="")
            h4.program-item__title Créditos Educativos
            p Accede a créditos para estudios técnicos superiores
            a.btn.btn-primary.w-md-100.mt-auto(href="#") Ver créditos
        .swiper-slide
          .program-item
            .program-item__icon
              img(src="assets/images/talent.svg", alt="")
            h4.program-item__title Fortalecimiento de talento
            p Recibe acompañamiento en el desarrollo de tus competencias
            a.btn.btn-primary.w-md-100.mt-auto(href="#") Ver programas
        .swiper-slide
          .program-item
            .program-item__icon
              img(src="assets/images/town.svg", alt="")
            h4.program-item__title Programa de empresas
            p Recibe créditos educativos con tasas preferenciales para tus colaboradores
            a.btn.btn-primary.w-md-100.mt-auto(href="#") Ver más