.row.text-center.position-relative
  <div class="d-none d-md-block bubble bubble-primary" style="top: 6rem;right: -4rem;"></div>
  <div class="d-none d-md-block bubble bubble-secondary bubble--sm delay-1" style="top: 10rem;right: 0rem;"></div>
  <div class="d-none d-md-block bubble bubble-secondary delay-2" style="right: 0;bottom: -6rem;"></div>
  <div class="d-none d-md-block bubble bubble-primary bubble--sm" style="right: 4rem;bottom: -3rem;"></div>
  <div class="d-none d-md-block bubble bubble-secondary bubble--sm delay-1" style="left: 2rem;bottom: 0;"></div>
  <div class="d-none d-md-block bubble bubble-primary delay-2" style="left: 0rem;top: 6rem;"></div>
  .col-12.col-md-10.mx-auto
    h3.h2.text-secondary.font-weight-bold.mb-4.d-md-none Preguntas frecuentes
    h3.h1.text-secondary.font-weight-bold.mb-4.d-none.d-md-block Preguntas frecuentes
    <div class="accordion" id="accordionFAQ">
      <div class="collapse-item">
        <div class="collapse-item-header" id="headingOne">
          <h2 class="mb-0">
            <button class="collapse-item__btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              | Collapsible Group Item #1
              img.collapse-item__btn-arrow(src="assets/images/expand-arrow-icon.svg", alt="")
            </button>
          </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionFAQ">
          <div class="collapse-item-body">
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <div class="collapse-item">
        <div class="collapse-item-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="collapse-item__btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              | Collapsible Group Item #2
              img.collapse-item__btn-arrow(src="assets/images/expand-arrow-icon.svg", alt="")
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionFAQ">
          <div class="collapse-item-body">
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <div class="collapse-item">
        <div class="collapse-item-header" id="headingThree">
          <h2 class="mb-0">
            <button class="collapse-item__btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              | Collapsible Group Item #3
              img.collapse-item__btn-arrow(src="assets/images/expand-arrow-icon.svg", alt="")
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionFAQ">
          <div class="collapse-item-body">
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>