.row.my-5
  .col-md-10.mx-auto
    .position-relative.my-5
      .swiper-button-prev
      .swiper-button-next
      .testimonials-slider.overflow-hidden
        .swiper-wrapper.d-flex.align-items-center
          .swiper-slide
            .row.align-items-center.flex-column.flex-md-row
              .col-10.col-md-6.order-md-1.mb-4.mb-md-0
                h3.h1.text-secondary.font-weight-bold.mb-4.d-md-none.text-center Casos
                img.img-fluid(src="assets/images/testimonio.jpg", alt="")
              .col-10.col-md-6.pr-md-4.text-center.text-md-left
                h3.h1.text-secondary.font-weight-bold.mb-4.d-none.d-md-block Casos
                p.mb-4 "Gracias a IPFE, hoy puedo cursar la carrera con la que soñé y en un futuro me permitirá acceder a nuevas oportunidades”
                p.text-secondary.font-weight-light – Ánthony Francois Torres Vicente – Ingeniería Mecatrónica – TEC de Monterrey – México
                a.btn.btn-primary.px-4.mt-4(href="estudiantes.html") Postula una beca
          .swiper-slide
            .row.align-items-center.flex-column.flex-md-row
              .col-10.col-md-6.order-md-1.mb-4.mb-md-0
                h3.h1.text-secondary.font-weight-bold.mb-4.d-md-none.text-center Casos
                img.img-fluid(src="assets/images/testimonio.jpg", alt="")
              .col-10.col-md-6.pr-md-4.text-center.text-md-left
                h3.h1.text-secondary.font-weight-bold.mb-4.d-none.d-md-block Casos
                p.mb-4 "Gracias a IPFE, hoy puedo cursar la carrera con la que soñé y en un futuro me permitirá acceder a nuevas oportunidades”
                p.text-secondary.font-weight-light – Ánthony Francois Torres Vicente – Ingeniería Mecatrónica – TEC de Monterrey – México
                a.btn.btn-primary.px-4.mt-4(href="estudiantes.html") Postula una beca