.row.my-5
  .col-md-10.mx-auto
    .position-relative.my-5
      .swiper-button-prev
      .swiper-button-next
      .testimonials-slider.overflow-hidden
        .swiper-wrapper.d-flex.align-items-center
          .swiper-slide
            .row.align-items-center
              .col-6.pr-4
                h3.h1.text-secondary.font-weight-bold.mb-4 Casos
                p.mb-4 "Gracias a IPFE, hoy puedo cursar la carrera con la que soñé y en un futuro me permitirá acceder a nuevas oportunidades”
                p.text-secondary.font-weight-light – Ánthony Francois Torres Vicente – Ingeniería Mecatrónica – TEC de Monterrey – México
                a.btn.btn-primary.px-4.mt-4(href="#") Postula una beca
              .col-6
                img.img-fluid(src="assets/images/testimonio.jpg", alt="")
          .swiper-slide
            .row.align-items-center
              .col-6.pr-4
                h3.h1.text-secondary.font-weight-bold.mb-4 Casos
                p.mb-4 "Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quam cumque reiciendis ab dignissimos est deserunt cupiditate"
                p.text-secondary.font-weight-light – Ánthony Francois Torres Vicente – Ingeniería Mecatrónica – TEC de Monterrey – México
                a.btn.btn-primary.px-4.mt-4(href="#") Postula una beca
              .col-6
                img.img-fluid(src="assets/images/testimonio.jpg", alt="")