*,
*::before,
*:after {
  box-sizing: border-box;
}

body {
  margin : 0;
  font-family : $font-family;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}