extends ../config/template

block main
  .container
    .row.align-items-center.justify-content-center
      .col-md-8.col-lg-6.position-relative.order-lg-1
        <div class="bubble bubble-primary bubble--xs" style="bottom: 2rem;left: -15rem;"></div>
        <div class="bubble bubble-primary bubble--sm delay-1" style="right: -5rem;top: 5rem;"></div>
        <div class="bubble bubble-primary bubble--sm delay-2" style="bottom: 6rem;right: -4rem;"></div>
        <div class="bubble bubble-secondary delay-2" style="top: 6rem;right: -4rem;"></div>
        <div class="bubble bubble-primary bubble--sm delay-3" style="top: 4rem;"></div>
        <div class="bubble bubble-secondary" style="bottom: 6rem;left: -6rem;"></div>
        img.img-fluid.position-relative(src="assets/images/testimonio.jpg")
        .position-absolute.d-none.d-sm-block(style="top: 4rem;right: 2rem;z-index:-1;transform: rotate(59deg);")
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="160 90 450 450" preserveAspectRatio="xMaxyMax meet" width="490" height="360">
            <path fill="rgba(242, 103, 50, 0.15)" d="M 120 330 C 140 280 190 130 360 100 C 520 90 690 290 680 350 C 680 400 620 460 530 430 C 435 400 440 360 390 370 C 260 420 230 520 160 490 C 120 465 100 420 120 330 Z">
              <animate repeatCount="indefinite" attributeName="d" dur="3s" values="M 120 330 C 140 280 190 130 360 100 C 520 90 690 290 680 350 C 680 400 620 460 530 430 C 435 400 440 360 390 370 C 260 420 230 520 160 490 C 120 465 100 420 120 330 Z;M 120 260 C 140 220 190 130 360 100 C 520 90 620 200 640 240 C 680 320 640 420 540 400 C 440 380 440 360 360 380 C 260 420 230 520 180 520 C 100 520 80 440 100 320 Z;M 120 330 C 140 280 190 130 360 100 C 520 90 690 290 680 350 C 680 400 620 460 530 430 C 435 400 440 360 390 370 C 260 420 230 520 160 490 C 120 465 100 420 120 330 Z">
              </animate>
            </path>
          </svg>
      .col-lg-6.mt-4.mt-lg-0.text-center.text-lg-left.pr-md-5
        h1.d-lg-none.text-center.h2.text-secondary.font-weight-bold Las mejores becas en Perú para estudiar en el extranjero
        h1.d-none.d-lg-block.text-secondary.font-weight-bold Las mejores becas en Perú para estudiar en el extranjero

    .row.mt-5.pb-5.justify-content-center
      .col-md-10.col-lg-9
        .single-entry__top-bar
          span.text-secondary Jueves 28 de Febrero 2020
          .d-flex
            a.mr-4(href="#"): img(src="assets/images/facebook-icon.svg", height="28" alt="")
            a.mr-4(href="#"): img(src="assets/images/linkedin-icon.svg", height="28" alt="")
            a.mr-4(href="#"): img(src="assets/images/instagram-icon.svg", height="28" alt="")
            a(href="#"): img(src="assets/images/twitter-icon.svg", height="28" alt="")

      .col-md-10.col-lg-9
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eum, inventore unde esse provident corporis recusandae eius! Nihil quae voluptate expedita unde, blanditiis repellat fugiat, cumque, possimus enim sed quas.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eum, inventore unde esse provident corporis recusandae eius! Nihil quae voluptate expedita unde, blanditiis repellat fugiat, cumque, possimus enim sed quas.
        img.w-100.img-fluid.mb-4(src="assets/images/testimonio.jpg", alt="")
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eum, inventore unde esse provident corporis recusandae eius! Nihil quae voluptate expedita unde, blanditiis repellat fugiat, cumque, possimus enim sed quas.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eum, inventore unde esse provident corporis recusandae eius! Nihil quae voluptate expedita unde, blanditiis repellat fugiat, cumque, possimus enim sed quas.

    .row.mt-5.position-relative
      .col-12.text-center
        h3.h2.text-secondary.font-weight-bold.mb-5.d-md-none Noticias relacionadas
        h3.h1.text-secondary.font-weight-bold.mb-5.d-none.d-md-block Noticias relacionadas

    .row.mb-5
      each val in [1, 2, 3]
        .col-6.col-md-4
          .entry-item.mb-4
            a(href="#" class="hover:decoration-none")
              img(src="assets/images/blog.jpg", alt="" class="entry-item__thumbnail")

            .entry-item__content
              a(href="#" class="hover:decoration-none"): h4.entry-item__title Conoce los pasos para posutlar a una beca en Perú
              a.entry-item__link(href="#" class="hover:decoration-none") Leer <img class="ml-1" height="10" src="assets/images/arrow-primary.svg" alt="">