extends ../config/template

block main
  .container
    .row.align-items-center
      .col-md-6.position-relative.order-md-1
        <div class="bubble bubble-primary bubble--xs" style="bottom: 2rem;left: -15rem;"></div>
        <div class="bubble bubble-primary bubble--sm delay-1" style="right: -5rem;top: 5rem;"></div>
        <div class="bubble bubble-primary bubble--sm delay-2" style="bottom: 6rem;right: -4rem;"></div>
        <div class="bubble bubble-secondary delay-2" style="top: 6rem;right: -4rem;"></div>
        <div class="bubble bubble-primary bubble--sm delay-3" style="top: 4rem;"></div>
        <div class="bubble bubble-secondary" style="bottom: 6rem;left: -6rem;"></div>
        img.img-fluid.position-relative(src="assets/images/empresas_portada-01.svg", alt="")
        .position-absolute(style="top: 4rem;right: 2rem;z-index:-1;transform: rotate(59deg);")
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="160 90 450 450" preserveAspectRatio="xMaxyMax meet" width="490" height="360">
            <path fill="rgba(242, 103, 50, 0.15)" d="M 120 330 C 140 280 190 130 360 100 C 520 90 690 290 680 350 C 680 400 620 460 530 430 C 435 400 440 360 390 370 C 260 420 230 520 160 490 C 120 465 100 420 120 330 Z">
              <animate repeatCount="indefinite" attributeName="d" dur="3s" values="M 120 330 C 140 280 190 130 360 100 C 520 90 690 290 680 350 C 680 400 620 460 530 430 C 435 400 440 360 390 370 C 260 420 230 520 160 490 C 120 465 100 420 120 330 Z;M 120 260 C 140 220 190 130 360 100 C 520 90 620 200 640 240 C 680 320 640 420 540 400 C 440 380 440 360 360 380 C 260 420 230 520 180 520 C 100 520 80 440 100 320 Z;M 120 330 C 140 280 190 130 360 100 C 520 90 690 290 680 350 C 680 400 620 460 530 430 C 435 400 440 360 390 370 C 260 420 230 520 160 490 C 120 465 100 420 120 330 Z">
              </animate>
            </path>
          </svg>
      .col-md-6.mt-4.mt-md-0.text-center.text-md-left
        h1.d-md-none.text-center.h2
          <span class="text-secondary font-weight-bold">PROGRAMAS PARA</span>
          <span class="text-primary heading-font display-3 d-block mt-2 mb-5">Empresas</span>
        h1.d-none.d-md-block
          <span class="text-secondary font-weight-bold">PROGRAMAS PARA</span>
          <span class="text-primary heading-font display-3 d-block mt-2 mb-5">Empresas</span>
        p.mb-4.d-md-none Retención de talento en organizaciones
        p.lead.mr-4.mb-4.d-none.d-md-block Retención de talento en organizaciones
        a.btn.btn-primary.px-5.mr-4(href="#") ¡Quiero Asociarme!

    .row.my-5.pt-5.position-relative
      <div class="bubble bubble-secondary bubble--sm delay-1" style="top:2rem;left:0;"></div>
      .col-md-8.mx-auto.text-center
        p.text-center Hemos diseñado un programa de beneficios especiales para colaboradores de nuestras empresas asociadas, la cual contempla desde créditos educativos con tasas preferenciales hasta becas de postgrado. Asimismo, colaboramos con dichas empresas en la gestión de sus programas de retención de talento y clima organizacional.

    include ../sections/empresas-tabs.pug
              
    .row.my-5.text-center.position-relative
      <div class="bubble bubble-primary bubble--sm delay-2" style="top: -3rem;right: 2rem;"></div>
      <div class="bubble bubble-secondary delay-1" style="right: -2rem;top: -2rem;"></div>
      <div class="bubble bubble-secondary bubble--sm" style="right: -3rem;top: 50%;"></div>
      <div class="position-absolute" style="top: -3rem;left: -6rem;transform: rotate(-19deg);">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="90 90 800 600" preserveAspectRatio="xMaxyMax meet" width="800" height="auto">
        <path fill="rgba(242, 103, 50, 0.15)" d="M 120 321.863 C 140 273.025 190 130 360 100 C 520 90 681.863 279.538 675.35 337.213 C 680 390.7 622.325 455.35 531.162 426.513 C 435.581 397.675 440 360 386.513 371.162 C 260 420 230 520 162.325 493.487 C 117.675 471.394 97.6751 422.325 117.675 328.838 Z">
        <animate repeatCount="indefinite" attributeName="d" dur="5s" values="M 120 330 C 140 280 190 130 360 100 C 520 90 690 290 680 350 C 680 400 620 460 530 430 C 435 400 440 360 390 370 C 260 420 230 520 160 490 C 120 465 100 420 120 330 Z;M 120 260 C 140 220 190 130 360 100 C 520 90 620 200 640 240 C 680 320 640 420 540 400 C 440 380 440 360 360 380 C 260 420 230 520 180 520 C 100 520 80 440 100 320 Z;M 120 330 C 140 280 190 130 360 100 C 520 90 690 290 680 350 C 680 400 620 460 530 430 C 435 400 440 360 390 370 C 260 420 230 520 160 490 C 120 465 100 420 120 330 Z">
        </animate>
        </path>
        </svg>
      </div>
      <div class="position-absolute" style="bottom: -7rem;right: -17rem;transform: rotate(-30deg);">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="10 -100 520 500" preserveAspectRatio="xMaxyMax meet" width="700" height="auto">
        <path fill="rgba(10, 83, 126, 0.1)" d="M 20 180 C 0 220 20 260 120 302.325 C 160 322.325 217.675 342.325 260 322.325 C 344.65 266.975 402.325 160 340 60 C 300 20 273.025 37.6751 240 100 C 186.975 200 100 120 40 160 Z">
        <animate repeatCount="indefinite" attributeName="d" dur="5s" values="M 20 180 C 0 220 20 260 120 300 C 160 320 220 340 260 320 C 340 260 400 160 340 60 C 300 20 280 40 240 100 C 180 200 100 120 40 160 Z;M 20 180 C 0 220 20 260 120 320 C 160 340 200 360 260 340 C 380 320 420 160 340 60 C 300 20 220 20 240 100 C 240 200 100 120 40 160 Z;M 20 180 C 0 220 20 260 120 300 C 160 320 220 340 260 320 C 340 260 400 160 340 60 C 300 20 280 40 240 100 C 180 200 100 120 40 160 Z">
        </animate>
        </path>
        </svg>
      </div>
      .col-12.d-none.d-md-block
        h3.h1.text-secondary.font-weight-bold.mb-5 Beneficios

      .col-md-6.mb-5.mb-md-0
        .card.border-secondary.rounded-1.overflow-hidden.h-100
          .card-header.bg-secondary.text-white.font-weight-bold.h4.py-4 Beneficios para la empresa
          .card-body.text-left.d-flex
            ul.list-unstyled.my-auto
              li.list-unstyled-item
                strong.text-secondary Retención del talento
                p Aportamos a los niveles de motivación de los colaboradores gracias a los beneficios educativos que otorgamos.
              li.list-unstyled-item
                strong.text-secondary Bajos costos de gestión para programas de responsabilidad social
                p Colaboramos con el desarrollo de programas educativos para sus grupos de interés.
              li.list-unstyled-item
                strong.text-secondary Ahorros en el presupuesto de capacitación a colaboradores
                p Administramos los fondos de capacitación mediante becas de estudios y convenios.
              li.list-unstyled-item
                strong.text-secondary Beneficio tributario
                p Otorgamos certificado de donación para reducción del Impuesto a la Renta.
      .col-md-6
        .card.border-primary.rounded-1.overflow-hidden.h-100
          .card-header.bg-primary.text-white.font-weight-bold.h4.py-4 Beneficios para el colaborador
          .card-body.text-left.d-flex
            ul.list-unstyled.my-auto
              li.list-unstyled-item
                strong.text-primary Acceder a Becas de Estudios
                p Otorgamos becas de estudios en instituciones reconocidas en el Perú y en el extranjero, para los colaboradores y sus familiares directos. Las becas abarcan programas presenciales, flexibles y de modalidad virtual.
              li.list-unstyled-item
                strong.text-primary Acceder a Créditos Educativos
                p Otorgamos créditos para cubrir los porcentajes no cubiertos por las becas y diversos costos de estudios con tasas preferenciales, tanto p para los colaboradores como para sus familiares.

    .row.my-5.py-5.text-center.position-relative
      <div class="bubble bubble-primary bubble--sm delay-2" style="top: -3rem;right: -8rem;"></div>
      <div class="bubble bubble-secondary delay-1" style="right: -2rem;top: 4rem;"></div>
      <div class="bubble bubble-primary bubble--sm" style="right: -3rem;top: 50%;"></div>
      <div class="bubble bubble-secondary" style="left: 0rem;top: 50%;"></div>
      <div class="bubble bubble-primary bubble--sm" style="left: -1rem;top: 50%;"></div>
      <div class="bubble bubble-secondary bubble--xs" style="left: 0rem;top: 6rem;"></div>
      .col-md-8.mx-auto
        h3.h2.text-secondary.font-weight-bold.mb-3.d-md-none ¿Cómo asociarte a IPFE?
        h3.h1.text-secondary.font-weight-bold.mb-3.d-none.d-md-block ¿Cómo asociarte a IPFE?
        p Somos una institución que avala la continuidad de estudios mediante el financiamiento de los costos educativos en el nivel ténico superior.

      .col-12.text-center.mt-2.mb-4.d-md-none
        .circle-icon
            img(src="assets/images/large-handshake-icon.svg")
      .col-12.d-flex.d-md-none.flex.mb-3
        span.d-block.display-3.text-primary.heading-font.mr-4.flex-1 1.
        p.text-left.flex-5 Solicitar a IPFE una visita o reunión de presentación institucional y beneficios para asociados.
      .col-12.d-flex.d-md-none.flex.mb-3
        span.d-block.display-3.text-primary.heading-font.mr-4.flex-1 2.
        p.text-left.flex-5 Enviar la ficha de inscripción como asociado de IPFE, la cual será enviada vía correo electrónico.
      .col-12.d-flex.d-md-none.flex.mb-3
        span.d-block.display-3.text-primary.heading-font.mr-4.flex-1 3.
        p.text-left.flex-5 Realizar una donación simbólica a la cuenta recaudadora de IPFE: <strong>Banco Scotiabank 000 – 4955714</strong> para activar su participación por un año en nuestra red de asociados.
      .col-12.d-flex.d-md-none.flex.mb-3
        span.d-block.display-3.text-primary.heading-font.mr-4.flex-1 4.
        p.text-left.flex-5 IPFE emitirá constancia de donación a la institución.
      .col-12.d-flex.d-md-none.flex.mb-3
        span.d-block.display-3.text-primary.heading-font.mr-4.flex-1 5.
        p.text-left.flex-5 Programar charlas y eventos para difusión del Programa de Beneficios para Asociados.

      .col-md-11.mx-auto.position-relative.d-none.d-md-block
        .position-absolute(style="left:50%;transform:translateX(-50%);z-index:1")
          .circle-icon
            img(src="assets/images/large-handshake-icon.svg")
        .row.justify-content-between.mt-5
          .col-4.col-xl-3.px-lg-4
            span.d-block.h1.text-primary.heading-font.mb-3 1.
            p Solicitar a IPFE una visita o reunión de presentación institucional y beneficios para asociados.
          .col-4.col-xl-3.px-lg-4
            span.d-block.h1.text-primary.heading-font.mb-3 5.
            p Programar charlas y eventos para difusión del Programa de Beneficios para Asociados.
      .col-md-11.mx-auto.d-none.d-md-block
        .row
          .col-4.col-xl-3.offset-md-1.px-lg-4
            span.d-block.h1.text-primary.heading-font.mb-3 2.
            p Enviar la ficha de inscripción como asociado de IPFE, la cual será enviada vía correo electrónico.
          .col-4.col-xl-3.offset-md-2.offset-xl-4.px-lg-4
            span.d-block.h1.text-primary.heading-font.mb-3 4.
            p IPFE emitirá constancia de donación a la institución.
      .col-md-11.mx-auto.d-none.d-md-block
        .row
          .col-5.col-xl-3.mx-auto.px-lg-4
            span.d-block.h1.text-primary.heading-font.mb-3 3.
            p Realizar una donación simbólica a la cuenta recaudadora de IPFE: <strong>Banco Scotiabank 000 – 4955714</strong> para activar su participación por un año en nuestra red de asociados.

    include ../sections/empresas-slider.pug

    include ../sections/contactanos.pug
