extends ../config/template
append config
  -pageName = 'gracias'

block main
  .container.pb-5.pt-md-0.my-auto
    .row.justify-content-center
      .col-md-7.col-lg-6.text-center.position-relative
        <div class="bubble bubble-primary bubble--sm" style="top: -6rem;left: 50%;"></div>
        <div class="bubble bubble-secondary delay-1" style="right: -4rem;top: -2rem;"></div>
        <div class="bubble bubble-primary bubble--xs" style="right: -10rem;top: 60%;"></div>
        <div class="bubble bubble-secondary bubble--xs delay-2" style="bottom: 9%;right: -13rem;"></div>
        <div class="bubble bubble-primary bubble--xs delay-3" style="bottom: -2rem;right: 0rem;"></div>
        <div class="bubble bubble-secondary" style="bottom: -10rem;left: 50%;"></div>
        <div class="bubble bubble-primary bubble--sm" style="bottom: -7rem;left: 50%;"></div>
        <div class="bubble bubble-primary bubble--sm" style="bottom: -4rem;left: -5rem;"></div>
        <div class="bubble bubble-secondary bubble--sm" style="top: 60%;left: -10rem;"></div>
        <div class="bubble bubble-primary bubble--xs" style="top: 57%;left: -10rem;"></div>
        <div class="bubble bubble-secondary bubble--sm" style="top: 0rem;left: -2rem;"></div>
        <span class="text-secondary font-weight-bold h1 d-block mt-1 mb-3 d-md-none">Gracias por<br>escribirnos</span>
        <span class="text-secondary font-weight-bold display-5 mt-1 mb-3 d-none d-md-block">Gracias por<br>escribirnos</span>
        p.load.mb-5.pb-4 Nos contactaremos a la brevedad posible
        a.btn.btn-primary.px-5.mr-2.mr-md-4(href="estudiantes.html#becas") Becas
        a.btn.btn-secondary.px-5(href="estudiantes.html#creditos") Créditos