extends ../config/template
append config
  -pageName = 'inicio'

block main

  include ../includes/welcome-modal.pug

  .container
    .row.align-items-center
      .col-12.col-md-8.col-lg-6.mx-md-auto.mx-lg-0.position-relative.order-lg-1
        .bubble.bubble-secondary.delay-1(style="right:-3rem;top:6rem")
        .bubble.bubble-secondary(style="bottom:4rem;right:0")
        .bubble.bubble-primary.bubble--sm.delay-2(style="top:9rem;right:0rem")
        .bubble.bubble-primary.bubble--sm.delay-3(style="top:12rem")
        .bubble.bubble-primary.bubble--sm(style="bottom:2rem;left:-1rem")
        img.img-fluid.position-relative(src="assets/images/main-guy.svg")
        .hero-index__container
          img.hero-index__img.d-none.d-sm-block(src="assets/images/hero-index-plasma.svg")
      .col-lg-6.mt-3.mt-lg-0.text-center.text-lg-left
          h1.d-lg-none
            <span class="text-secondary font-weight-bold h1">TALENTO</span>
            <span class="text-primary heading-font display-4 d-block mb-4">Exponencial</span>
          h1.d-none.d-lg-block
            <span class="text-secondary font-weight-bold display-5">TALENTO</span>
            <span class="text-primary heading-font display-2 d-block mb-5">Exponencial</span>
          p.mr-4 Transformamos la vida de las personas a través de la educación. ¡Conoce nuestros programas!
          .d-flex.justify-content-around.justify-content-md-center.justify-content-lg-start.mt-4
            a.btn.btn-primary.px-4.px-sm-5.mr-5(href="estudiantes.html") Estudiantes
            a.btn.btn-secondary.px-4.px-sm-5(href="empresas.html") Empresas

    .row.justify-content-center.mt-5.pt-5.px-4.px-lg-0.position-relative
      .bubble.bubble-secondary.bubble--sm.delay-1(style="top:-3rem;left:3rem")
      .col-lg-5.order-lg-1
        h3.h2.text-secondary.font-weight-bold.mb-3.d-lg-none.text-center ¿Quiénes somos?
        <div class="embed-responsive embed-responsive-4by3 rounded-1">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aMXRRcLs4Qs" allowfullscreen></iframe>
        </div>
      .col-lg-5.text-center.text-lg-left
        h3.h1.text-secondary.font-weight-bold.mb-5.d-none.d-lg-block ¿Quiénes somos?
        p.my-4.mt-lg-0.mb-lg-5 Somos una institución sin fines de lucro, con más de 58 años de experiencia, promoviendo y facilitando el acceso a la educación superior y técnica, con el fin de contribuir en el desarrollo humano de las personas a través de la educación.
        a.btn.btn-primary.px-5(href="nosotros.html") Ver más
    
    .row.justify-content-center.mt-5.position-relative
      .col-md-10.d-flex.flex-column.flex-md-row.mt-5.position-relative
        //- Mobile
        <div class="d-md-none bubble bubble-secondary bubble--lg delay-1" style="right: -4rem;top:10rem;"></div>
        <div class="d-md-none bubble bubble-primary delay-2" style="right: 0rem;top:8rem;"></div>
        <div class="d-md-none bubble bubble-secondary bubble--lg delay-1" style="left: -4rem;bottom: 2rem;"></div>
        <div class="d-md-none bubble bubble-primary bubble--sm delay-1" style="left: 1rem;top: 10rem;"></div>
        <div class="d-md-none bubble bubble-primary delay-2" style="left: 0rem;bottom: 6rem;"></div>
        //- Desktop
        .d-none.d-md-block.bubble.bubble-secondary.bubble--lg.delay-1(style="right:-8rem;top:4rem")
        .d-none.d-md-block.bubble.bubble-primary.delay-2(style="right:-4rem;top:2rem")
        .indicator-counter.mb-3.mb-md-0
          .indicator-counter__value(data-count="number" data-start="103000" data-end="103300" data-duration="100") 103000
          .indicator-counter__label Beneficiarios totales
        .indicator-counter.mb-3.mb-md-0
          .indicator-counter__value(data-count="number" data-start="0" data-end="125" data-duration="200") 0
          .indicator-counter__label Empresas donantes
        .indicator-counter.mb-3.mb-md-0
          .indicator-counter__value(data-count="number" data-start="0" data-end="229" data-duration="200") 0
          .indicator-counter__label Proyectos administrados
        .indicator-counter.mb-3.mb-md-0
          .indicator-counter__value(data-count="number" data-start="0" data-end="60" data-duration="200") 0
          .indicator-counter__label Instituciones aliadas

    include ../sections/nuestros-programas.pug

    include ../sections/fondos.pug

    include ../sections/asociados.pug

    include ../sections/nos-respaldan.pug
    
    include ../sections/nuestra-experiencia.pug

    .row.position-relative.pt-md-5.pb-md-5.px-3
      //- img.position-absolute(src="assets/images/aldia-shape-01.svg" style="top:5rem;left:-5rem")
      .position-absolute.d-none.d-md-block(style="top:5rem;left:-5rem")
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="90 90 800 600" preserveAspectRatio="none" width="800" height="600">
          <path fill="rgba(242, 103, 50, 0.15)" d="M 120 330 C 140 280 190 130 360 100 C 520 90 690 290 680 350 C 680 400 620 460 530 430 C 435 400 440 360 390 370 C 260 420 230 520 160 490 C 120 465 100 420 120 330 Z">
            <animate repeatCount="indefinite" attributeName="d" dur="5s" values="M 120 330 C 140 280 190 130 360 100 C 520 90 690 290 680 350 C 680 400 620 460 530 430 C 435 400 440 360 390 370 C 260 420 230 520 160 490 C 120 465 100 420 120 330 Z;M 120 260 C 140 220 190 130 360 100 C 520 90 620 200 640 240 C 680 320 640 420 540 400 C 440 380 440 360 360 380 C 260 420 230 520 180 520 C 100 520 80 440 100 320 Z;M 120 330 C 140 280 190 130 360 100 C 520 90 690 290 680 350 C 680 400 620 460 530 430 C 435 400 440 360 390 370 C 260 420 230 520 160 490 C 120 465 100 420 120 330 Z">
            </animate>
          </path>
        </svg>
      .position-absolute.d-none.d-md-block(style="bottom:8rem;right:-5rem")
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0" preserveAspectRatio="none" width="400" height="350">
          <path fill="rgba(10, 83, 126, 0.1)" d="M 20 180 C 0 220 20 260 120 300 C 160 320 220 340 260 320 C 340 260 400 160 340 60 C 300 20 280 40 240 100 C 180 200 100 120 40 160 Z">
            <animate repeatCount="indefinite" attributeName="d" dur="5s" values="M 20 180 C 0 220 20 260 120 300 C 160 320 220 340 260 320 C 340 260 400 160 340 60 C 300 20 280 40 240 100 C 180 200 100 120 40 160 Z;M 20 180 C 0 220 20 260 120 320 C 160 340 200 360 260 340 C 380 320 420 160 340 60 C 300 20 220 20 240 100 C 240 200 100 120 40 160 Z;M 20 180 C 0 220 20 260 120 300 C 160 320 220 340 260 320 C 340 260 400 160 340 60 C 300 20 280 40 240 100 C 180 200 100 120 40 160 Z">
            </animate>
          </path>
        </svg>
      .col-12.text-center
        h3.h1.text-secondary.font-weight-bold.mb-2 IPFE al día
        p Encuentra artículos de interés y nuestras últimas noticias

      .col-12.position-relative.px-5.px-md-0
        .swiper-button-prev.d-lg-none
        .swiper-button-next.d-lg-none
        .blog-slider.overflow-hidden.px-md-4
          .swiper-wrapper.d-flex.align-items-center.pt-4
            each val in [1, 2, 3]
              .swiper-slide
                .entry-item
                  a(href="blog-interna.html" class="hover:decoration-none")
                    img(src="assets/images/blog.jpg", alt="" class="entry-item__thumbnail")

                  .entry-item__content
                    a(href="blog-interna.html" class="hover:decoration-none"): h4.entry-item__title Conoce los pasos para posutlar a una beca en Perú
                    a.entry-item__link(href="blog-interna.html" class="hover:decoration-none") Leer <img class="ml-1" height="10" src="assets/images/arrow-primary.svg" alt="">