-let pageTitle = 'IPFE'
-let siteName = 'IPFE'
-let pageDescription = 'Simple boilerplate for static web projects with sass, pug and babel'
-let pageImage = ''
-
  let pages = [
    {
      title: 'Inicio',
      url: 'index.html',
      child: []
    },
    {
      title: 'Nosotros',
      url: 'nosotros.html',
      child: []
    },
    {
      title: 'Estudiantes',
      url: 'estudiantes.html',
      child: []
    },
    {
      title: 'Empresas',
      url: 'empresas.html',
      child: []
    },
    {
      title: 'Talento',
      url: 'talento.html',
      child: []
    },
    {
      title: 'Fondo',
      url: 'fondos.html',
      child: []
    },
    {
      title: 'Blog',
      url: 'blog.html',
      child: []
    },
  ]
